<nav class="navBar">
    <div class="navItem navItem-1">
        <img src="https://img.freepik.com/premium-vector/creative-abstract-modern-ecommerce-logo-design-colorful-gradient-online-shopping-logo-template_467913-985.jpg?size=626&ext=jpg&ga=GA1.1.1157377652.1715839980&semt=ais_user"
            alt="logo">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <a class="navLink" href="/home/">Home</a>
        <a class="navLink" href="../shop/products">Products</a>
        <a class="navLink" href="/shop/cart">
            <span class="cartName">
                Cart
                {{#if this.cartCnt}}
                <div class="cartCnt">{{this.cartCnt}}</div>
                {{else}}
                <div class="cartCnt">0</div>
                {{/if}}
            </span>
        </a>
        <a class="navLink" href="../profile/">Profile</a>
        {{#if this.isAdmin}}
        <a class="navLink" href="../admin/add-product">Add-Products</a>
        <a class="navLink" href="../admin/products">Admin Products</a>
        {{/if}}
    </div>
    <div class="navItem navItem-2">
        <form action="/search" method="GET">
            <input type="text" placeholder="Search for products..." name="query">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</nav>