<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    {{> navbar isAdmin=isAdmin cartCnt=cartCnt products=products}}
    <div class="container cont">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero" style="background-image: url('/images/banner-1.jpg');">
                        <div class="desc">
                            <span class="line-1">Trending Item</span> <br>
                            <span class="line-2">WOMEN'S LATEST <br> FASHION SALE</span> <br>
                            <span class="line-3">starting at $ <span>20</span>.00</span> <br>
                            <button>
                                <a href="/home/women-sale">Shop now</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero" style="background-image: url('/images/banner-2.jpg');">
                        <div class="desc">
                            <span class="line-1">Trending Accessories</span> <br>
                            <span class="line-2">MODERN <br> SUNGLASSES</span> <br>
                            <span class="line-3">starting at $ <span>15</span>.00</span> <br>
                            <button>
                                <a href="/home/men-sale">Shop now</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero" style="background-image: url('/images/banner-3.jpg');">
                        <div class="desc">
                            <span class="line-1">Sale Offer</span> <br>
                            <span class="line-2">NEW FASHION<br> SUMMER SALE</span> <br>
                            <span class="line-3">starting at $ <span>29</span>.00</span> <br>
                            <button>
                                <a href="/home/women-sale">Shop now</a>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Add more slides as needed -->
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>


        <div class="productDetails">
            {{#each this.products as |product|}}
            <div class="productItem">
                <div class="productImg">
                    <img src="{{product.imageUrl}}" alt="">
                </div>
                <div class="info">
                    <div class="productInfo">
                        <h2 class="name">
                            {{product.name}}
                        </h2>
                    </div>
                    <div class="priceInfo">
                        <div class="price">
                            $ {{product.price}}
                        </div>
                        <div class="btnGrp">
                            <button class="btn">
                                <a href="/shop/details?id={{product._id}}">Product Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <button class="logoutBtn">
            <a href="/logout">Logout</a>
        </button>

    </div>

    <div class="footerPartial">
        {{>footer}}
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>