<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {{!-- font awsome link --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/login" method="post" id="loginForm">
        <h3>Login Here</h3>

        <label for="username">E-Mail</label>
        <input type="text" placeholder="email" id="username" name="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <button class="loginBtn" type="submit">Log In</button>

        <div class="social">
            <a href="/login/google">
                <div class="go"><i class="fab fa-google"></i> Google</div>
            </a>
            <a href="/login/facebook">
                <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
            </a>
        </div>

        <hr>

        <button class="signupBtn">
            <a href="/signup">Sign Up</a>
        </button>
    </form>
</body>

</html>