<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    {{>navbar isAdmin=isAdmin cartCnt=cartCnt}}
    <div class="container cont">
        <h1>welcome to your Profile</h1>
        username: {{email}}
        <button class="logoutBtn">
            <a href="/logout">Logout</a>
        </button>
    </div>
    <div class="footerPartial">
        {{>footer}}
    </div>

</body>

</html>