<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-Products</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/cart.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="wrapper">
        {{>navbar isAdmin=isAdmin cartCnt=cartCnt totalPrice=totalPrice}}

        <div class="container">
            <div class="productDetails">
                {{>cartProducts products=products totalPrice=totalPrice}}
            </div>
        </div>

        <div class="push"></div> <!-- to push footer to bottom -->
    </div>

    <div class="footerPartial">
        {{>footer}}
    </div>

    <script src="/js/updateCartQty.js"></script>
    <script src="/js/navbar.js"></script>
</body>

</html>