*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    margin: 100px auto;
    width: 65%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 0.5px solid grey;
    padding: 40px 35px;
}

form:hover{
    box-shadow: 3px -3px 12px lightgrey;
}

form textarea{
    color: rgb(73, 16, 126);
    padding: 10px;
    font-weight: 400;
    border: 0.5px solid grey;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #2e2e2e;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}
.name, .price, .imageUrl, .description{
    display: block;
    height: 50px;
    width: 100%;
    border: 0.5px solid grey;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.addBtn{
    margin-top: 30px;
    width: 100%;
    background-color: #4a1380;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button a{
    text-decoration: none;
}

.navItem-2 form{
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footerPartial {
    flex-shrink: 0;
}

.description{
    width: 100%;
}


