* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.itemDetails{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}

.cartItem{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.newCartItem{
    border: 1px solid grey;
    margin: 10px auto;
    background-color: white;
    color: #2e2e2e;
    border-radius: 10px;
    border: 0.5px solid grey;
    width: 45%;
}

.newCartItem:hover{
    box-shadow: 3px 3px 12px grey;
}

.cartItemImg img{
    height: 200px;
    margin: 10px;
    transition: 0.2s;
}

.cartItemImg img:hover{
    transform: scale(1.1);
}

.cartItemDesc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    margin: 0 auto;
    width: 50%;
}

.cartItemDesc .name{
    font-weight: 700;
    font-size: 23px;
}

.cartItemDesc .price{
    font-weight: 700;
    font-size: 18px;
}

.qt {
    color: grey;
}

.deleteBtn, .btn{
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.btnGrp1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

.btnGrp1 .total{
    background-color: rgb(58, 11, 101);
    padding: 8px;
    width: 65%;
    border-radius: 8px;
}

.btnGrp1 .payment{
    width: 23%;
    background-color: rgb(62, 13, 108);
    padding: 8px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.qty{
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgb(238, 237, 237);
    padding: 1px;
}

.quantity{
    display: flex;
    flex-direction: row;
    width: 100%;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    flex: 1; /* to take up the remaining vertical space */
}

.footerPartial {
    flex-shrink: 0; /* do not shrink the footer */
}

@media screen and (max-width:1030px) {
    .cartItem{
        flex-direction: column;
        width: 100% !important;
    }

    .newCartItem{
        width: 90%;
    }
}

@media screen and (max-width: 530px) {
    .itemDetails{
        display: flex;
        flex-direction: column !important;
        line-height: 25px;
    }

    .cartItemDesc{
        width: 100%;
    }

    .btnGrp1{
        flex-direction: column;
        gap: 15px;
    }

    .btnGrp1 .payment, .btnGrp1 .total{
        width: 70%;
    }


}