/* style.css or home.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 500px;
    /* Adjust to fit the screen */
    position: relative;
    margin: 0 auto 50px auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.desc {
    position: absolute;
    top: 21%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

.desc .line-1,
.line-3 {
    color: rgb(73, 16, 126);
    font-size: 3vw;
    font-weight: 700;
}

.desc .line-2 {
    font-size: 4vw;
    font-weight: 900;
}

.desc .line-3 {
    color: grey;
    font-weight: 500px;
}

.line-3 span {
    font-size: 40px;
}

.desc button {
    width: 35%;
    padding: 8px;
    background-color: rgb(73, 16, 126);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.desc button a {
    color: white;
    text-decoration: none;
}

.swiper-pagination {
    position: absolute !important;
    top: 510px !important;
}

.swiper-button-prev, .swiper-button-next {
    margin: 0 10px 0 10px;
    transition: 0.2s;
    color: rgb(73, 16, 126);
}

/* ////////////////// */

.productDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.productItem {
    border: 0.5px solid lightgray;
    border-radius: 8px;
    width: 32%;
    height: 410px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.productItem:hover {
    box-shadow: 2px 2px 12px lightgrey;
}

.productImg img {
    height: 200px;
    transition: transform .2s;
    margin-bottom: 20px;
}

.productImg img:hover {
    transform: scale(1.2);
}

.btn {
    background-color: rgb(73, 16, 126);
    padding: 6px;
    border: none;
    border-radius: 6px;
}

.btn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.swiper-pagination-bullet {
    background-color: rgb(73, 16, 126) !important;
}

.swiper-container {
    width: 100%;
    height: 500px;
    /* Default height */
    position: relative;
    margin: 0 auto 50px auto;
}




@media (min-width: 645px) and (max-width: 800px) {
    .productDetails {
        flex-direction: column;
    }

    .productItem {
        width: 100%;
    }

    .hero {
        height: 80%;
    }

    .swiper-container {
        height: 300px;
        
    }


    .desc {
        top: 10%;
        left: 10%;
    }

    .desc .line-1,
    .line-3 {
        font-size: 16px;
    }

    .desc .line-2 {
        font-size: 24px;
    }

    .line-3 span {
        font-size: 20px;
    }

    .desc button {
        width: 70%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

}


@media screen and (max-width: 645px) {
    .swiper-container{
        display: none;
    }

    .productDetails {
        flex-direction: column;
    }

    .productItem {
        width: 100%;
    }

    .hero {
        height: 80%;
    }

    .desc {
        top: 10%;
        left: 10%;
    }

    .desc .line-1,
    .line-3 {
        font-size: 16px;
    }

    .desc .line-2 {
        font-size: 24px;
    }

    .line-3 span {
        font-size: 20px;
    }

    .desc button {
        width: 70%;
    }


}