* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.productDetails {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

body{
    /* background-color: black; */
    background-color: white;
    /* color: white; */
    color: #2e2e2e;
}

.productItem {
    display: flex;
    width: 85%;
    border: 0.5px solid rgb(165, 162, 162);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0.5px 0.5px 6px lightgrey;
}

.productItem:hover{
    box-shadow: 3px 3px 12px grey;
}

.productImg img{
    height: 280px;
    /* width: 300px; */
    margin-right: 10px;
    transition: 0.2s;
}

.productImg img:hover{
    transform: scale(1.1);
}

.productInfo{
    /* border: 1px solid yellow; */
    width: 68%;
    height: 80%;
}

.name{
    padding-bottom: 5px;
}

.price, .quantity{
    border: 0;
    box-shadow: none;
}

.priceInfo{
    /* border: 1px solid yellow; */
    width: 28%;
    height: 80%;
}

.priceInfo .price{
    text-align: center;
    font-weight: 700;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68%;
    padding: 10px;
}

ul li{
    list-style-type: none;
}

.btnGrp{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.btnGrp .btn{
    padding: 8px 5px;
    background-color: rgb(73, 16, 126);
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.btnGrp .btn a,
.addToCartBtn{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.description{
    margin-top: 20px;
    color: grey;
    font-size: 15px;
}

.popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50; /* Green background */
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999; /* Ensure popup is on top of other elements */
    text-align: center;
}